// initial colors / mostly background colors
$regularColor: #2d3436;
$okColor: #099e31;
$errorColor: #d84b4c;
$warningColor: #eab800;
$infoColor: #558fc9;
$submitColor: #ffa600;

// parameter colors
$_bestiary_parameter_minmax_color: #8c2cbd;
$_bestiary_parameter_probability_color: #4772ff;
$_bestiary_parameter_maxcount_color: #ff2b2b;

// colors
$bgPrimary: #fff;
$bgPrimaryComp: #111;
$bgSecondary: #eee;
$bgSecondary2: #ccc;
$bgTertiary: #111;

$bgMenuColor: #6b3d15;
$bgMenuColorActive: #e4986c;

$bgOkColor: #57bf6b;
$bgErrorColor: #bb4e4e;
$bgWarningColor: #ccb638;
$bgInfoColor: #99bef5;

// Note: considered usable
$foreGround: palevioletred;
$background: papayawhip;