<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Taua Difenz</title>
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" /> -->
        <!-- <script
            crossorigin="anonymous"
            src="https://apis.google.com/js/api.js"
		></script> -->
        <!-- fontawesome -->
        <!-- <script src="https://kit.fontawesome.com/d6b46fd0cd.js" crossorigin="anonymous"></script> -->
        <!-- react -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.1/umd/react.production.min.js"
            integrity="sha512-SUJujhtUWZUlwsABaZNnTFRlvCu7XGBZBL1VF33qRvvgNk3pBS9E353kcag4JAv05/nsB9sanSXFbdHAUW9+lg=="
            crossorigin="anonymous"
        ></script>
        <!-- react-dom -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.1/umd/react-dom.production.min.js"
            integrity="sha512-SYsXmAblZhruCNUVmTp5/v2a1Fnoia06iJh3+L9B9wUaqpRVjcNBQsqAglQG9b5+IaVCfLDH5+vW923JL5epZA=="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.19/lodash.min.js"
            integrity="sha512-/A6lxqQJVUIMnx8B/bx/ERfeuJnqoWPJdUxN8aBj+tZYL35O998ry7UUGoN65PSUNlJNrqKZrDENi4i1c3zy4Q=="
            crossorigin="anonymous"
        ></script>
        <!-- react-router-dom -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.min.js"
            integrity="sha512-NG4Cm3Ubs7d/nPyzrTFM53RP8tPjQhRT0hea48yJ/qEXsuhq7wGbjX68A5gBiW6BoCQbqE3/M+UOj2lLXPauhw=="
            crossorigin="anonymous"
        ></script>
        <!-- redux -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/redux/4.0.5/redux.min.js"
            integrity="sha512-P36ourTueX/PrXrD4Auc1kVLoTE7bkWrIrkaM0IG2X3Fd90LFgTRogpZzNBssay0XOXhrIgudf4wFeftdsPDiQ=="
            crossorigin="anonymous"
        ></script>
        <!-- redux-saga -->
        <!-- <script
            src="https://cdnjs.cloudflare.com/ajax/libs/redux-saga/1.1.3/redux-saga.umd.min.js"
            integrity="sha512-Ffc3ZXlnTMYo9uCPEMzPU8ySEtd0vvljd91C+rjf1AnvjZRFRhrLBFcih0I1Nm4zfFQMR0pANyR/vtLUi7YJvg=="
            crossorigin="anonymous"
        ></script> -->
        <!-- <script
            src="https://cdn.jsdelivr.net/npm/final-form@4.20.1/dist/final-form.umd.min.js"
            integrity="sha256-kHKBhsEB/32Q5OuXp3eRSkUILBAugrsxs8a3zUI0ng4="
            crossorigin="anonymous"
        ></script> -->
        <!-- <script
            src="https://cdn.jsdelivr.net/npm/react-final-form@6.5.1/dist/react-final-form.umd.min.js"
            integrity="sha256-qlZ7H4S7lAFvY8J4jiqIfCXkFw2jr0+3xGdtgwGoH7Q="
            crossorigin="anonymous"
        ></script> -->

        <!-- <script
            crossorigin
            src="https://cdn.jsdelivr.net/npm/react-final-form@6.5.1/dist/react-final-form.cjs.min.js"
        ></script> -->
        <!-- <script
            crossorigin
            src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-svg-core@1.2.30/index.min.js"
        ></script> -->
        <!-- <script
            crossorigin
            src="https://cdn.jsdelivr.net/npm/@fortawesome/react-fontawesome@0.1.11/index.min.js"
        ></script> -->
        <!-- <script
            crossorigin
            src="https://cdn.jsdelivr.net/npm/@fortawesome/free-solid-svg-icons@5.14.0/index.min.js"
        ></script> -->
        <!-- <script
            crossorigin
            src="https://cdn.jsdelivr.net/npm/@fortawesome/free-regular-svg-icons@5.14.0/index.min.js"
        ></script>
        <!-- <script src="//unpkg.com/styled-components/dist/styled-components.min.js"></script> -->
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
